Repository intothebeans/obsidian-vale-redux: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  pass_filenames: true
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: npx prettier --check
  language: system
  pass_filenames: true
  stages:
  - pre-commit

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ci(actions): streamline release action and note template
  .github/release.yml
  .github/workflows/release.yml
Due: prettier

feat(ui): gray out non-functional panel actions
  src/styles/_panel.scss
  src/ui/issues-panel.ts
  styles.css
Due: eslint, prettier, stylelint

fix: misnamed css variable
  src/styles/main.scss
Due: prettier, stylelint

build(npm): add additional scripts
  package-lock.json
  package.json
Due: prettier

style: prettier formatting
  AGENTS.md
  esbuild.config.mjs
  tsconfig.json
  version-bump.mjs
Due: prettier

refactor: remove debug statements
  src/core/issue-manager.ts
  src/main.ts
  src/settings.ts
Due: eslint, prettier

fix: update import for Buffer type
  src/utils/utils.ts
Due: eslint, prettier

refactor: granularize codebase
  src/core/issue-manager.ts
  src/core/vale-config.ts
  src/core/vale-parser.ts
  src/core/vale-runner.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/types/index.ts
  src/types/plugin-types.ts
  src/types/vale-types.ts
  src/ui/issues-panel.ts
  src/utils/error-utils.ts
  src/utils/file-utils.ts
  src/utils/process-utils.ts
  src/utils/vale-utils.ts
Due: eslint, prettier

feat(core): add inline decorations
  .pre-commit-config.yaml
  eslint.config.mts
  package-lock.json
  package.json
  src/core/spell-checker.ts
  src/core/vale-actions.ts
  src/core/vale-decorations.ts
  src/core/vale-parser.ts
  src/main.ts
  src/settings.ts
  src/styles/_tooltips.scss
  src/styles/main.scss
  src/ui/editor.ts
  src/ui/tooltips/index.ts
  src/ui/tooltips/tooltip-actions.ts
  src/ui/tooltips/tooltip-builder.ts
  src/utils/constants.ts
  src/utils/position-utils.ts
  stylelint.config.mjs
  styles.css
Due: eslint, prettier, stylelint

refactor: prep for release
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  manifest.json
  package-lock.json
  package.json
  src/settings.ts
  styles.css
  versions.json
Due: eslint, prettier, stylelint

ci: delete to-do issue workflow
  .github/workflows/todo-issue.yml
Due: prettier

ci: update release workflow
  .github/workflows/release.yml
Due: prettier

ci: remove prettier check from lint script
  package.json
Due: prettier

docs: update readme
  README.md
Due: prettier

refactor: remove excessive tooling
  .devcontainer/devcontainer.json
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier

docs: update README
  README.md
Due: prettier

fix(runner): runner options being decoupled from plugin settings
  src/core/vale-runner.ts
  src/main.ts
  src/types/plugin-types.ts
Due: eslint, prettier

fix(settings): plugin fails to load if no existing plugin data
  src/main.ts
Due: eslint, prettier

fix(core): failed functionality checks stop linting from running
  src/core/issue-manager.ts
  src/settings.ts
Due: eslint, prettier

refactor(settings): simplfy settings data loading
  src/main.ts
Due: eslint, prettier

refactor(core): change how vale functionality is checked and stored
  src/core/issue-manager.ts
  src/main.ts
  src/settings.ts
  src/utils/vale-utils.ts
Due: eslint, prettier

refactor(core): move command registry to its own file
  src/commands/register-commands.ts
  src/main.ts
  src/ui/issues-panel.ts
Due: eslint, prettier

fix(ui): EditorView updates firing over each other illegally
  src/core/vale-decorations.ts
Due: eslint, prettier

docs: add a process diagram to readme
  README.md
Due: prettier

refactor: add helper for creating divs
  src/ui/tooltips/tooltip-actions.ts
  src/ui/tooltips/tooltip-builder.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(?:js|ts|tsx|jsx)$
  prettier: any of: \.(?:js|ts|tsx|jsx|scss|css|json|md|mdx|ya?ml|html)$
  stylelint: any of: \.(?:scss|css)$
